<footer class="footer">
  <nav class="nav-1">
    <ul class="nav-1-ul">
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">ZAPATILLAS</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">ROPA</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">NIÑO/A</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">DESTACADOS</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">TIPS</a></li>

    </ul>
  </nav>
  <nav class="nav-2">
    <ul class="nav-2-ul">
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">TWITTER</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">INSTAGRAM</a></li>
      <li class="nav-li"><a href="https://adalab.es/" alt="Escuela Adalab" class="nav-a">YOUTUBE</a></li>
    </ul>
  </nav>
  <div class="footer-branding">
    <p>©2023</p>
    <p>we<a class="footer-branding-heart">❤︎</a>run</p>
  </div>
</footer>