<main>
  <div class="hero">
    <h1 class="title">HASTA UN 50% DE DESCUENTO</h1>
    <h2 class="promo-1">Ya están aquí las ofertas de fin de temporada</h2>
    <div class="white-circle">
      <a href="#section2"><img src="./assets/images/ico-scroll-down.svg" class="scroll-down"></a>
    </div>
  </div>
  <section class="section-1">
    <p class="inspo">Los sentimientos nos inspiran</p>
    <h2 class="title-section1">Conecta Contigo</h2>
    <p class="text-section1">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos
      homenaje
      al
      hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
    </p>
    <div class="button">Comprar</div>
  </section>
  <section class="section-2">
    <h2 class="inspo2"><a name="section2" id="section2"></a>Año nuevo, movimientos nuevos</h2>
    <div class="section-2-container-offers">
      <section class="section-2-offers">
        <h3 class="section-2-offers-title">Entrenamientos</h3>
        <p>Sesiones de running y entrenamientos.</p>
      </section>
      <section class="section-2-offers">
        <h3 class="section-2-offers-title">Cualquier nivel</h3>
        <p>Entrenamientos para cada nivel.</p>
      </section>
      <section class="section-2-offers">
        <h3 class="section-2-offers-title">Exclusividad</h3>
        <p>Productos para miembros premium.</p>
      </section>
    </div>
    <div class="button2">Empezar ahora</div>
    <div class="white-circle2">
      <a href="#top"><img src="./assets/images/ico-arrow.svg" class="arrow"></a>
    </div>
  </section>
</main>