.footer {
  background-color: $greyish-brown;
  color: #fff;
  font-family: $roboto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.nav-1-ul {
  padding: 13px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.75;
}

.nav-2-ul {
  padding: 13px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.75;
}

.nav-li {
  list-style-type: none;
  text-decoration: none;
}

.nav-a {
  color: $colorwhite;
  text-decoration: inherit;
}

.footer-branding {
  padding: 50px 0px;
}

.footer-branding-heart {
  color: $bright-orange;
}

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
  }

  .footer-branding {
    order: -1;
  }
  .nav-1-ul {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .nav-2-ul {
    display: flex;
    flex-direction: column;
    align-content: left;
  }
}
