.burguer {
  width: 11px;
}

.burguer-box {
  box-sizing: border-box;
  width: 27px;
  height: 30px;
  background-color: $bright-orange;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@media all and (min-width: 768px) {
  .burguer {
    width: 15px;
  }

  .burguer-box {
    box-sizing: border-box;
    width: 34px;
    height: 37px;
  }
}

@media all and (min-width: 1272px) {
  .burguer {
    width: 15px;
  }

  .burguer-box {
    box-sizing: border-box;
    width: 35px;
    height: 38px;
  }
}
