/* @import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */
 * {
    box-sizing: border-box;
    margin: 0;
    padding:0;
 }

 html {
    font-size: 62.5%;
 }

 $colorwhite: #fff;
 $bright-orange: #f26002;
 $black: #000;
 $greyish-brown: #4a4a4a;
 $white-two: #f2f2f2;

 .burguer {
   width:50%;
 }

.burguer-box {
   box-sizing: border-box;
   height: 20px;
   width: 20px;
   background-color: $bright-orange;
   position:fixed;
   display: flex;
   flex-direction: row;
   justify-content: center;
   z-index: 3;
}

 .hero-pic {
   width:100%;
   position:relative;
   bottom:20px;
 }
 
 




