/* @import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

$colorwhite: #fff;
$bright-orange: #f26002;
$black: #000;
$greyish-brown: #4a4a4a;
$white-two: #f2f2f2;
$robotoS: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;

.burguer {
   width: 10px;

}

.burguer-box {
   box-sizing: border-box;
   height: 20px;
   width: 20px;
   background-color: $bright-orange;
   position: fixed;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   z-index: 3;
}

.hero {
   height: 580px;
   padding-bottom: 10px;
   background-image: url("../images/cover.jpeg");
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   flex-grow: 0;
   color: #fff;
}

.title {
   font-family: $roboto;
   font-size: 2.9rem;
   width: 290px;
   text-shadow: 0 1px 1px $white-two;
   line-height: normal;
   letter-spacing: 0.5px;
}

.promo-1 {
   font-family: $robotoS;
   padding: 10px 0;
   font-size: 1.5rem;
   font-weight: 300;
   width: 200px;
}

.scroll-down {
   width: 15px;
}

.white-circle {
   background-color: $colorwhite;
   width: 23px;
   height: 23px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 52%;
}

.section-1 {
   width: 270px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 10px 21px;

}

.inspo {
   color: $bright-orange;
   font-family: $roboto;
   font-size: 1.4rem;
   font-weight: light;
   text-align: left;
   padding: 3px 0;

}

.title-section1 {
   font-family: $robotoS;
   font-size: 2.4rem;
   padding: 5px 0;
   font-weight:bolder;
}

.text-section1 {
   font-family: $roboto;
   font-size: 1.6rem;
   color: $greyish-brown;
   font-weight: normal;
   flex-grow: 0;
   line-height: 1.8;
   padding-bottom: 15px;
}

.button {
   padding: 5%;
   width: 120px;
   height: 35px;
   border: solid $bright-orange;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border-radius: 50px;
   font-size: 2rem;
   color: $bright-orange;
}

.section-2 {
   background-color: $white-two;
   font-family: $roboto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.section-2 .inspo2 {
   width: 200px;
   padding: 10px 0 0 0;
   font-family: $robotoS;
   font-size: 2rem;
   line-height: 1.5;
   text-align: center;
   font-weight: 700;
}

.section-2-offers {
   width: 100px;
   padding: 18px 0;
   text-align: center;
   line-height: 1.35;
   font-size: 1.8rem;
}
.section-2-offers-title {
text-align: center;
}
.section-2 .button2 {
   padding: 5%;
   background-color: $bright-orange;
   width: 120px;
   height: 35px;
   border: solid $bright-orange;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border-radius: 50px;
   font-size: 2rem;
   color: $colorwhite;
}