/* @import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */
 * {
    box-sizing: border-box;
    margin: 0;
    padding:0;
 }

 html {
    font-size: 62.5%;
 }

 $colorwhite: #fff;
 $bright-orange: #f26002;
 $black: #000;
 $greyish-brown: #4a4a4a;
 $white-two: #f2f2f2;

 .burguer {
   width:50%;
 }

.burguer-box {
   box-sizing: border-box;
   height: 20px;
   width: 20px;
   background-color: $bright-orange;
   position:fixed;
   display: flex;
   flex-direction: row;
   justify-content: center;
   z-index: 3;
}
.hero {
   padding-bottom: 5%;
   height: 300px;
   background-image: url("../images/cover.jpeg");
   background-repeat: no-repeat;
   background-size: 180%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items:center;
   text-align: center;
   color:#fff
}
.title {
   font-size: 3rem;
   width:75%; 
}
.promo-1 {
font-family:'Roboto', sans-serif;
padding: 5% 0;
font-size: 1.2rem;
width:65%; 
font-weight: 300;
line-height: 1;
}
.white-circle {
   background-color: #fff;
   width: 23px;
   height: 23px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 52%;

}

 
 




